@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=JetBrains+Mono:wght@200;300;400;500;600&family=Manrope:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
:root {
	--yellow: #fefa08;
	--white: #fafafa;
	--darkest-gray: #403d3d;
	--dark-gray: #666666;
	--gray: #c7c7c7;
	--light-gray: #e5e5e5;
}

* {
	box-sizing: border-box;
	outline: none;
	max-width: 100%;
}
html {
	font-family: "Manrope", sans-serif;
	background: var(--white);
	max-width: 100vw;
}

body {
	margin: 0rem;
	padding: 0rem;
}

a {
	text-decoration: none;
	color: var(--darkest-gray);
}

@media screen and (min-width: 1024px) {
	html {
		font-size: 15px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	html {
		font-size: 13px;
	}
} 

@media screen and (max-width: 767px) {
	html {
		font-size: 11px;
	}
}

.headline {
	color: var(--darkest-gray);
	font-family: 'Neue Machina';
	src: local('Neue Machina'),
	url(./public/fonts/NeueMachina.otf);
	font-size: 4rem;
}

.main-text {
	color: var(--darkest-gray);
	font-family: "Manrope", monospace;
	font-size: 1rem;
	line-height: 200%;
	font-weight: 400;
}

.yellow-block-text {
	color: var(--darkest-gray);
	font-family: "JetBrains Mono", monospace;
	font-size: 1rem;
	line-height: 200%;
}

/* appearance animations */

.left-appearance,
.right-appearance,
.bottom-appearance,
.top-appearance {
	visibility: hidden;
	transition: all 0.8s ease;
}

.left-appearance.appeared,
.right-appearance.appeared,
.bottom-appearance.appeared,
.top-appearance.appeared {
	visibility: visible;
	animation-duration: 0.8s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

.bottom-appearance.appeared {
	animation-name: bottom-appearance;
}

.top-appearance.appeared {
	animation-name: top-appearance;
}

.left-appearance.appeared {
	animation-name: left-appearance;
}

.right-appearance.appeared {
	animation-name: right-appearance;
}

/* animations */

@keyframes right-appearance {
	0% {
		opacity: 0;
		transform: translateX(30%);
	}
	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}

@keyframes left-appearance {
	0% {
		opacity: 0;
		transform: translateX(-30%);
	}
	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}

@keyframes top-appearance {
	0% {
		opacity: 0;
		transform: translateY(-10%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes bottom-appearance {
	0% {
		opacity: 0;
		transform: translateY(10%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

/* главная страница */
footer{
	background: var(--darkest-gray);
	width: 100%;
	height: auto;
	padding: 3rem 5rem;
	margin-top: 10rem;
}

.footer-content{
	display: flex;
	flex-direction: row;
	gap: 6rem;
	max-width: 90rem;
	margin: 0rem auto;
}

.footer-block{
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.footer-block p{
	color: var(--white);
	line-height: 180%;
}

.footer-block p:first-child{
	font-size: 1.1rem;
}

header {
	display: flex;
	align-items: center;
	height: auto;
	background: var(--white);
	width: 100%;
	padding: 1rem 0;
}

.nav-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 0rem;
	width: 100%;
	max-width: 100rem;
	margin: 0rem auto;
	padding: 0 3rem;
}

.logo-container {
	display: flex;
	flex-direction: row;
	gap: 2rem;
	height: 5rem;
}

.logo-icon {
	height: 5rem;
}

.logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.logo p,
.logo a {
	color: var(--darkest-gray);
	margin: 0;
}

.footer-logo p,
.footer-logo a {
	color: var(--white);
	margin: 0;
}

.logo a {
	font-family: 'Neue Machina';
	src: local('Neue Machina'),
	url(./public/fonts/NeueMachina.otf);
	font-weight: 500;
	font-size: 2rem;
}

.logo p {
	font-size: 1.04rem;
}

.nav-containers {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.nav-container {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}
.link-box {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0.4rem 3.3rem;
	border-radius: 100rem;
}

.dark-box {
	gap: 2rem;
	background-color: var(--darkest-gray);
}

.light-box {
	gap: 2.5rem;
	background-color: transparent;
	border: 0.13rem solid var(--darkest-gray);
}

.link-box a {
	font-size: 1rem;
	transition: 0.5s ease-in-out;
}

.link-box a:hover {
	cursor: pointer;
	text-decoration: underline;
}

.dark-box a {
	color: var(--white);
}

.light-box a {
	color: var(--darkest-gray);
}
.center-img{
	width: 100%;
}
.block {
	margin: 10rem 0rem;
	width: 100%;
}

.text {
	max-width: 60rem;
	margin: 0rem auto;
}

.text p,
li {
	font-weight: 400;
	font-size: 1rem;
	color: var(--darkest-gray);
	line-height: 200%;
}
.tapes{
	margin: 25rem 0rem;
}
.tape{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5rem;
	width: 100%;
	height: 1.85rem;
	
	outline: none;
}
.tapes div:last-child{
	margin-top: -2rem;
}
.tape p{
	font-size: 1.4rem;
}
.dark-tape{
	transform: rotate(-0.01turn);
	background-color: var(--darkest-gray);
}
.dark-tape p{
	color: var(--white);
}
.yellow-tape{
	transform: rotate(0.005turn);
	background-color: var(--yellow);
}
.services{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0rem auto;
	max-width: 100rem;
}

.service{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 4rem;
}


#service-1{
	margin-right: 35rem;
}
#service-2{
	margin-top: -4rem;
	margin-left: 60rem;
}
#service-3{
	margin-top: -2rem;
	margin-right: 75rem;
}
#service-4{
	margin-top: -4rem;
	margin-left: 10rem;
}
#service-5{
	margin-left: 75rem;
}

#service-6{
	margin-top: -9rem;
	margin-right: 55rem;
}

.service p{
	font-size: 1.4rem;
}

/* .carousel {
	margin: 3rem auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5rem;
	min-width: 60rem;
	padding: 0 5rem;
}

.cards {
	overflow: hidden;
	margin: 3rem auto;
}

.services-cards {
	gap: 30px;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
	transition: all 0.5s ease 0s;
}

.service-card {
	display: inline-flex;
	white-space: normal;
	transition: 0.4s all ease-in-out;
	width: calc(0.25 * (100% - 5rem));
	aspect-ratio: 1/1.1;
	border-radius: 2.5rem;
	background-color: var(--light-gray);
	margin: 0.5rem;
}

.service-card:hover {
	margin: 0 2rem;
	transform: scale(1.1);
}

.service-card:hover .service-card-content img {
	transform: translate(-1rem, -1rem);
}

.service-card-content img {
	border-radius: 2.5rem;
	width: 100%;
	transition: 0.4s all ease-in-out;
}

.service-card-tevgxt {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 0.5rem;
}

.service-card-text p {
	color: var(--darkest-gray);
	font-size: 1rem;
	font-weight: 400;
}

.controls {
	cursor: pointer;
	background-color: transparent;
	border: none;
} */
/* страница "История" */

.history-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15rem;
	padding: 15rem auto;
	margin: 15rem auto;
}

.page-name {
	display: flex;
	justify-content: flex-start;
	max-width: 90rem;
	width: 100%;
}

.yellow-block {
	background-color: var(--yellow);
	padding: 0rem 1.5rem;
	z-index: 1;
	width: 100%;
}

.history-page-block {
	padding: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#yellow-block-1{
	max-width: 50rem;
}
#yellow-block-2{
	max-width: 30rem;
}
#yellow-block-3{
	max-width: 55rem;
}
#yellow-block-4{
	max-width: 60rem;
}
#first-history-page-block div:last-child{
	align-self: flex-end;
}

#second-history-page-block div:first-child{
	align-self: flex-end;
}

#first-history-page-block{
	background-image: url(./public/img/img-2.svg);
}

#second-history-page-block{
	background-image: url(./public/img/img-3.svg);
}

.history-page-text-block {
	max-width: 60rem;
}

.history-page-image-block {
	display: flex;
	flex-direction: row;
	gap: 6rem;
}

.history-img-2 {
	width: 25rem;
	height: auto;
}
