:root {
	--yellow: #fefa08;
	--white: #fafafa;
	--darkest-gray: #403d3d;
	--dark-gray: #666666;
	--gray: #c7c7c7;
	--light-gray: #e5e5e5;
}
@media screen and (min-width: 1024px) {
	html {
		font-size: 15px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	html {
		font-size: 13px;
	}
}

@media screen and (max-width: 767px) {
	html {
		font-size: 11px;
	}
}

html {
	box-sizing: border-box;
	background-color: #000;
	margin: 0;
	font-family: "Inter", sans-serif;
}

body {
	margin: 0;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

h1 {
	color: red;
	text-align: center;
}

.carousel {
	margin: 23rem auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5rem;
	min-width: 60rem;
	padding: 0 5rem;
	width: 80%;
}

.screen {
	overflow: hidden;
	margin-left: -1rem;
	margin-right: -1rem;
	padding: 10rem 0;
}

.track {
	transition: all 0.75s ease 0s;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

.service-card {
	display: inline-flex;
	white-space: normal;
	transition: 0.4s all ease-in-out;
	width: 100%;
	/* width: calc(0.25 * (100% - 5rem)); */
	aspect-ratio: 1/1.1;
	border-radius: 2.5rem;
	background-color: var(--light-gray);
	margin: 0.5rem;
}
.service-card:hover {
	margin: 0 2rem;
	transform: scale(1.1);
}
.service-card:hover .service-card-content img {
	transform: translate(-1rem, -1rem);
}
.service-card-content img {
	border-radius: 2.5rem;
	width: 100%;
	transition: 0.4s all ease-in-out;
}

.service-card-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 0.5rem;
}

.service-card-text p {
	color: var(--darkest-gray);
	font-size: 1rem;
	font-weight: 400;
}

button {
	cursor: pointer;
	line-height: 3rem;
	font-size: 3rem;
	width: 3em;
	height: 3rem;
	background-color: var(--dark-gray);
	color: var(--white);
	border-radius: 100%;
	border: none;
	transition: 0.2s all ease-in-out;
	text-align: center;
}

button:hover {
	background-color: #3d414a;
}
